.header {
    padding: 50px 0px 5px;
    text-align: center;
}

.title {
    font-family: "Grandstander";
    font-weight: bold;
    font-size: 22px;
}

.content {
    padding: 5px 50px 0px;
    text-align: center;
}

#graphics {
    width: 50%;
}

.tile-circle {
    transition: fill 200ms;
}

.tile-circle:hover {
    cursor: pointer
}

#info {
    font-family: "Grandstander";
}
