.page {
    font-family: "Grandstander";
}

.header {
    padding: 50px 0px 5px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 4.5em;
}

.content {
    padding: 5px 50px 0px;
    text-align: center;
}

.graphics {
    margin: 0px auto;
    width: 95%;
}

.tile-marker {
    transition: fill 200ms;
}

.tile-marker:hover {
    cursor: pointer;
}

.info-text {
    font-size: 2.2em;
    margin: 5px 0px;
}
